<!DOCTYPE html>
<html>

<head>

    <title>Smart Irrigation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="navbar">

    <div class="logo">
        🌱 Smart Irrigation
    </div>

    <div class="menu">

        <a href="/">Home</a>

        <a href="/login">Farmer Login</a>

        <a href="#">Officer</a>

        <a href="#">Research</a>

    </div>

</div>

<h1>Smart Irrigation System</h1>

<div class="card">

<h2>Welcome Farmer</h2>

<p>Select Your Crop</p>

<div class="crop-box">

<button> Wheat</button>

<button>Rice</button>

<button>Maize</button>

<button>Potato</button>

</div>

<br>

<button>Speak</button>

<button>My Location</button>

<button>Weather</button>

<br><br>

<button>Aaj Mujhe Kya Karna Hai?</button>

</div>

</body>

</html>